/* colore generale sfondo*/
body {
    background-color: grey;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* css dell'header */
header {
    background-color: rgb(253, 253, 253);
    min-height: 50px;   
}

h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-weight: bold;
}

.logob{
    vertical-align: middle;
}

h1, .logob{
    margin: 10px 0px 10px 5px;
}

/*Css del nav*/
nav{
    margin: auto;
}

.nav-container{
    background-color: rgb(253, 253, 253);
    margin-top: 50px;
    width: 1000px;  
    padding: 10px 0 10px 30px;
    border-radius: 15px 15px 0 0;
}

.add-task{
    background-color: rgb(0, 166, 255) ;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.add-section{
    background-color: rgb(255, 255, 255) ;
    border-radius: 5px;
    color: rgba(170, 170, 170, 0.772);
    padding: 5px 10px;
    border: 1px solid;
    border-color: grey;
    text-align: center;
    cursor: pointer;
}

/*CSS DEL MAIN*/
