/* colore generale sfondo*/
body {
    background-color: grey;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* css dell'header */
header {
    background-color: rgb(253, 253, 253);
    min-height: 50px;   
}

h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-weight: bold;
}

.logob{
    vertical-align: middle;
}

h1, .logob{
    margin: 10px 0px 10px 5px;
}

/*Css del nav*/
nav{
    margin: auto;
}

.nav-container{
    background-color: rgb(253, 253, 253);
    margin-top: 50px;
    width: 1000px;  
    padding: 10px 0 10px 30px;
    border-radius: 15px 15px 0 0;
}

.add-task{
    background-color: rgb(0, 166, 255) ;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.add-section{
    background-color: rgb(255, 255, 255) ;
    border-radius: 5px;
    color: rgba(170, 170, 170, 0.772);
    padding: 5px 10px;
    border: 1px solid;
    border-color: grey;
    text-align: center;
    cursor: pointer;
}

/*CSS DEL MAIN*/
main{
    margin:auto;
}
.main-container{
    background-color: rgb(253, 253, 253);
    margin-top: 2px;
    max-width: 1000px;
    min-height: 800px;  
    padding: 10px 0 10px 30px;
    border-radius: 0px 0px 15px 15px;
}


/*css delle sezioni*/

.black-arrow{
    font-size: 15px;
}

h2 {
    color: rgb(58, 58, 58);
}

.simbolo {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
}

.targhetta{
    background-color: rgb(0, 166, 255) ;
    border-radius: 6px;
    color: white;
    padding: 3px 5px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
}

.simbolo-rosso {
    color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 50%;
    padding: 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
}

span{
    margin-bottom: 5px;
}

#tviola {
    background-color: blueviolet;
}

#tverde {
    background-color: rgb(75, 152, 87);
}

#tarancio {
    background-color: orange;
}